
.godaddy-add-record-btn {
  font-family: Boing-Bold, 'Arial Black', sans-serif;
  font-weight: 400;
  color: #00a63f;
  text-transform: uppercase;
}

.godaddy-dns-records {
  font-size: 24px;
  font-family: Boing-Bold, 'Arial Black', sans-serif;
  font-weight: 400;
  color: #000;
}